<h1>Welcome to Save it</h1>

<div class="row">
  <% @bookmarks.each do |bookmark| %>
    <p>
      <%#= link_to bookmark.url, "/bookmarks/#{bookmark.id}" %>
      <%#= link_to bookmark.url, bookmark_path(bookmark.id) %>
      <%#= link_to bookmark.url, bookmark_path(bookmark) %>
      <%= link_to bookmark.url, bookmark %>
    </p>
  <% end %>
</div>

<h3><%= button_to 'Submit new bookmark', user_session_path, method: :post %></h3>
